@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Roboto.woff2) format("woff2");
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scroll {
    overflow: hidden;
  }
}

@layer components {
  .compact-container {
    @apply px-2 md:px-24 lg:px-48;
  }
}
